@model List<ResultOfferDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Icon</th>
                                <th scope="col">Description</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.OfferID</th>
                                    <td>@item.Title</td>
                                    <td>@item.Icon</td>
                                    <td>@item.Description</td>
                                    <td><a href="/Offer/DeleteOffer/@item.OfferID" class="btn btn-outline-danger">Delete</a></td>
                                    <td><a href="/Offer/UpdateOffer/@item.OfferID" class="btn btn-outline-info">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Offer/CreateOffer" class="btn btn-success">New Offer</a>
                </div>
            </div>
        </div>
    </div>
</div>




